@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary-light: #f0f4f9;
    --color-secondary-light: #fff;
    --color-primary-dark: #000000;
    --color-secondary-dark: #191c24;
}

html {
    width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    overflow-x: hidden;
}

@utility flex-around {
    @apply flex justify-around items-center;
}

@layer components {

    h2 {
        @apply text-xl
    }

    #toggle-mode-btn {
        @apply text-xl rounded-full cursor-pointer p-2 bg-secondary-dark text-white dark:bg-primary-light dark:text-black absolute right-4 top-4 md:static
    }

    .card {
        @apply w-full bg-secondary-light dark:bg-secondary-dark p-4 rounded-xl border border-gray-300 dark:border-gray-600;
    }

    header {
        @apply w-full flex-around mb-2;

        #header-text-container {
            @apply flex flex-col;

            h1 {
                @apply font-bold text-2xl
            }

            p {
                @apply opacity-70 text-sm md:text-base;
            }
        }
    }

    #categories {

        @apply flex flex-col gap-8;

    }
}

